<div class="jumbotron">
  <h1 class="display-3">Welcome to Pearing App!</h1>
  <p class="lead">This is an application intended to help students at Turing schedule pairing sessions with students in other cohorts.</p>
</div>
